<md-dialog aria-label="Add a recipe picture">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add picture</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <p>This is the addPicture view.</p>

            <div class="form-group md-dialog-content">
                <div class="column">
                    <label for="recipe-picture-btn">Recipe Picture</label>
                    <button id="recipe-picture-btn" type="button" class="btn btn-default" ngf-select ng-model="picFile" accept="image/*">
                                Select Picture</button>

                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl"
                        result-image="picture.croppedDataUrl" area-type="square">
                        </img-crop>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
        <md-button ng-click=picture.addPicture(picture.croppedDataUrl)>Accept</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>