<p>This is the createRecipe view.</p>

<form novalidate name="form">
    <div class="form-group has-feedback" ng-class="{'has-error': form.recipeName.$invalid && (form.$submitted || form.recipeName.$touched)}">
        <label class="control-label" for="recipe-name">Recipe Name</label>
        <input id="recipe-name" name="recipeName" class="form-control" ng-model="recipes.name" required="" />
        <span ng-show="form.recipeName.$invalid && (form.$submitted || form.recipeName.$touched)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <div ng-show="form.$submitted || form.recipeName.$touched">
            <span class="help-block" ng-show="form.recipeName.$error.required">Please provide a name.</span>
        </div>
    </div>

    <div class="form-inline" >
        <label class="control-label" for="recipe-ingredients">Ingredients</label>
        <ul>
            <fieldset>
                <li data-ng-repeat="ingredient in recipes.ingredients track by $index" class="" ng-class="{'has-error': ingredientFieldForm.ingredientName.$invalid && (form.$submitted || ingredientFieldForm.ingredientName.$touched)}">
                    <ng-form name="ingredientFieldForm">
                        <!-- Use ng-form to evaluate each input seperately and indepently for validation -->
                        <div class="form-group has-feedback" >
                            <!-- Div is to keep glyphicon inside input field -->
                            <input id="recipe-ingredients" name="ingredientName" class="form-control" value="{{ingredient}}" ng-model="recipes.ingredients[$index]" required="">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="ingredientFieldForm.ingredientName.$invalid && (form.$submitted || ingredientFieldForm.ingredientName.$touched)"></span>
                            <span id="ingredientHelpBlock" class="help-block" ng-show="ingredientFieldForm.ingredientName.$invalid && (form.$submitted || ingredientFieldForm.ingredientName.$touched)">Please provide an ingredient.</span>
                        </div>
                        <button type="button" class="btn btn-default" ng-show="$last" ng-click="recipes.addIngredientField()">+</button>
                        <button type="button" class="btn btn-default" ng-hide="recipes.ingredients.length === 1" ng-click="recipes.removeIngredientField($index)">-</button>
                    </ng-form>
                </li>
            </fieldset>
        </ul>
    </div>

    <div class="form-group form-inline">
        <label for="recipe-directions">Directions</label>
        <ol>
            <fieldset>
                <li data-ng-repeat="direction in recipes.directions track by $index" ng-class="{'has-error': directionFieldForm.directionName.$invalid && (form.$submitted || directionFieldForm.directionName.$touched)}">
                    <ng-form name="directionFieldForm">
                        <div class="form-group has-feedback">
                            <input id="recipe-directions" name="directionName" class="form-control" ng-model="recipes.directions[$index]" required="">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="directionFieldForm.directionName.$invalid && (form.$submitted || directionFieldForm.directionName.$touched)"></span>
                            <span class="help-block" ng-show="directionFieldForm.directionName.$invalid && (form.$submitted || directionFieldForm.directionName.$touched)">Please provide a direction.</span>
                        </div>
                        <button type="button" class="btn btn-default" ng-show="$last" ng-click="recipes.addDirectionField()">+</button>
                        <button type="button" class="btn btn-default" ng-hide="recipes.directions.length === 1" ng-click="recipes.removeDirectionField($index)">-</button>
                    </ng-form>
                </li>
            </fieldset>
        </ol>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': form.categoryName.$invalid && (form.$submitted || form.categoryName.$touched)}">
        <label class="control-label" for="recipe-category">Category</label>
        <select id="recipe-category" name="categoryName" class="form-control" ng-model="recipes.selectedCategory" ng-options="x for x in recipes.categories" required="">
            <option value="">Select Category</option>
        </select>
        <span class="help-block" ng-show="form.categoryName.$invalid && (form.$submitted || form.categoryName.$touched)">Please select a category</span>

    </div>

    <button ng-click="recipes.addPicture($event)">Add Picture</button>

    <img ng-src="{{croppedDataUrl}}" />

    <a href="#/">
        <input type="submit" id="add-recipe-button" type="button" class="btn btn-default" ng-click="recipes.addRecipe()" value="Add Recipe">
    </a>
</form>