<p>This is the createRecipe view.</p>

<form>
    <div class="form-group">
        <label for="recipe-name">Recipe Name</label>
        <input id="recipe-name" class="form-control" ng-model="recipes.name">

    <div class="form-group form-inline">
        <label for="recipe-ingredients">Ingredients</label>
        <ul>
            <fieldset>
                <li data-ng-repeat="ingredient in recipes.ingredients track by $index">
                    <input id="recipe-ingredients" class="form-control" value="{{ingredient}}" ng-model="recipes.ingredients[$index]">
                    <button type="button" class="btn btn-default" ng-show="$last" ng-click="recipes.addIngredientField()">+</button>
                    <button type="button" class="btn btn-default" ng-hide="recipes.ingredients.length === 1" ng-click="recipes.removeIngredientField($index)">-</button>
                </li>
            </fieldset>
        </ul>
    </div>

    <div class="form-group form-inline">
        <label for="recipe-directions">Directions</label>
        <ol>
            <fieldset>
                <li data-ng-repeat="direction in recipes.directions track by $index">
                    <input id="recipe-directions" class="form-control" ng-model="recipes.directions[$index]">
                    <button type="button" class="btn btn-default" ng-show="$last" ng-click="recipes.addDirectionField()">+</button>
                    <button type="button" class="btn btn-default" ng-hide="recipes.directions.length === 1" ng-click="recipes.removeDirectionField($index)">-</button>
                </li>
            </fieldset>
        </ol>
    </div>

    <div class="form-group">
        <label for="recipe-category">Category</label>
        <select id="recipe-category" class="form-control" ng-init="recipes.selectedCategory = recipes.categories[0]" ng-model="recipes.selectedCategory" ng-options="x for x in recipes.categories">
        </select>
    </div>

    <button ng-click="recipes.addPicture($event)">Add Picture</button>

    <img ng-src="{{croppedDataUrl}}" />

    <a href="#/">
        <button id="add-recipe-button" type="button" class="btn btn-default" ng-click="recipes.addRecipe()">Add Recipe</button>
    </a>
</form>