<h2>{{singleRecipe.aRecipe.name}}</h2>
<img ng-src="{{singleRecipe.aRecipe.image}}">

<h4>Ingredients</h4>
<ul>
    <li data-ng-repeat="ingredient in singleRecipe.aRecipe.ingredients track by $index">
        {{ingredient}}
    </li>
</ul>

<h4>Directions</h4>
<ol>
    <li data-ng-repeat="direction in singleRecipe.aRecipe.directions track by $index">
    {{direction}}
    </li>
</ol>

<a href="#/">
<button ng-click="singleRecipe.deleteRecipe(singleRecipe.aRecipe.name)">Delete</button>
</a>

<a ui-sref="editRecipe({id: singleRecipe.aRecipe.name})">
    <button>Edit</button>
</a>